@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import'./mixsin','./normalize','./variebles';
/* GLOBAL START */

.wrapper{
    width: 100%;
}
.canteiner{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1170px;
    font-family: $mainFont;
    font-style: normal;
}
/* GLOBAL END */


/* HEADER START*/
.header{
    width: 100%;
    position: fixed;
    height: 65px;
    z-index: 10;
    @include flex(center,unset);
    &_row{
        // padding: 13px 0;
        height: 100%;
        @include flex(center,space-between)
    }
    &_logo{
        & h1{
            font-weight: 700;
            @include adaptive-value ('font-size',36,32,1);   
            line-height: 110%;
            color: $white;
        }
    }
    &_input{
        @include flex (center,end);
    }
    &_nav{
        @media screen and(max-width:768px) {
            display: none;
        }
        &_input{
            outline: none;
            padding: 5px 10px;
            border: none;
            border-radius: 6px;
        }
        @include flex (center,unset)
        // justify-content: space-between;
    }
    &_right{
        width: 300px;
        @include flex (center,space-between);
        &_global{
            width: 50px;
            height: 50px;
            @include flex (center,unset);
            
        }
    }
    &_link{
        color: $black;
        font-weight: 300;
        font-size:20px;
        line-height: 110%;
        margin-right: 20px;
    }
    &_mobile{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &_link{
            display: grid;
        }
        @media screen and(min-width:768px) {
            display: none;
        }
    }
}
.dropbtn{
    border: none;
}
.dropdown{
    position: relative;
    display: inline-block;
    &-content{
        display: none;
        position: absolute;
        overflow: auto;
        z-index: 1;
        min-width: 160px;
    }  
}

/* HEADER END*/ 

/* MAIN START */
.main{
    @include adaptive-value ('padding-top',120,85,1);
    width: 100%;
    &_row{
        display: flex;
        position: relative;
    }
    &_left{
        width: calc($canteinerWidth * 66 / 100);
        @include adaptive-value ('width',744,388,1);
        &-box{
            width: 100%;
            height: 396px;
            background-color: $gray;
            display: flex;
            align-items: flex-end;
            justify-content: start;
            border-radius: 10px;
            @include adaptive-value('padding',30,16,1);
            background: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)),
            url('https://ad-admin.qalampir.uz/uploads/dm/m_SrzuYhpOMkuj1GkLpl9nKttdvmHuMl.jpg');
            background-size: cover;
            background-position: center;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);


            & p{
                font-weight: 400;
                font-size: 16px;
                line-height: 110%;
                color: $white;
            }
            & h1{
                font-weight: 700;
                font-size: 32px;
                line-height: 115%;
                color: $white;
            }
        }
    }
    &_right{
        height: 396px;
        position: fixed;
        z-index: 10;
        // width: 34%;
        @include adaptive-value ('width',339,208,1);
        right:calc(((100vw - $canteinerWidth) / 2));
        background-color: $white;
        &-box{
            @include adaptive-value ('width',339,208,1);
            & button{
                width: 100%;
                height: 50px;
                background-color: $green;
                color: $white;
                font-weight: 700;
                font-size: 20px;
                line-height: 120%;
                color: #FFFFFF;
                border: none;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
            }
            &-bx{
                margin-top: 20px;
                background: #FFFFFF;
                border-radius: 10px;
                width: 100%;
                height: 96px;
                padding: 13px;
                display: flex;
                justify-content: space-between;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

                &-left{
                    width: 40%;
                    height: 100%;
                    background: #D9D9D9;
                    border-radius: 10px;                }
            }
            &-right{
                font-weight: 700;
                font-size: 14px;
                line-height: 105%;
                color:$black;
            }
        }
    }
}


/* MAIN END */ 

/* js fremwork start*/
.topnav,#mylink {
    display: none;

    & a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
    &icon {
        background: black;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
}
.mylinks{
    background-color: $green;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 34px 0px rgba(2, 162, 143, 0.54);
}
.i{
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: start;
}
.fa{
    margin-right: 10px;
}
.e{
    margin-top: 10px;
}
.fe{
    margin-left: 10px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
/* js fremwork end*/
